/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background: linear-gradient(135deg, rgba(27, 34, 36, 1) 0%, rgba(60, 79, 85, 1) 100%);
  background-attachment: fixed;
}

.material-icons {
  font-size: 22px;
  line-height: 24px;
  font-family: 'Material Symbols Outlined', 'Material Icons';
}
